.register-container{
    padding: 0.375rem 0.75rem;
    border: 1px solid #333;
  box-shadow: #111 3px 12px;
  background: #f1f2f0;
}
.register-container input{
    font-size: 14px;
    box-shadow: #bbb 3px 2px;
}