<h1>Available Jobs</h1>
@if (dataFetch$ | async; as data) {
<div class="feed">
@for (item of data; track item.id) {
        <div class="job-card">
            <p>
                {{item.description}}
            </p>
            <span>{{item.currencyCode}} <b>{{item.budget}}</b></span>
            <div>
                <small> start date {{item.startDate | date: 'short' }}</small><br>
                <small> due date{{item.dueDate | date: 'short' }}</small>
            </div>
            
            <a class="btn" href="/job/{{item.id}}">View Details</a>
        </div>
    }
</div>
}